environment:
  PYTHON: "C:\\Python27-x64"

image: Visual Studio 2015

init:
  - set PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%
  - pip install -U wheel twine

install:
  # wxPython 3 is not available from PyPI so we need to install it.
  #
  # Cribbed from:
  #   * https://github.com/ArduPilot/MAVProxy/blob/master/appveyor.yml
  - ps: |
      $InstallersFolder = $Env:APPVEYOR_BUILD_FOLDER + "\_build\installers\"
      New-Item $InstallersFolder -type directory | Out-Null
      $WXInstaller = $InstallersFolder + "wxPython3.0-win64-3.0.2.0-py27.exe"
      $WXURL = "http://downloads.sourceforge.net/wxpython/wxPython3.0-win64-3.0.2.0-py27.exe"
      Start-FileDownload $WXURL -Timeout 60000 -FileName $WXInstaller
      "    Installing..."
      Start-Process $WXInstaller -Arg "/VERYSILENT /SUPPRESSMSGBOXES" -NoNewWindow -Wait
      "    Done."

build: off

build_script:
  # Install numpy first as javabridge needs it to already be installed
  - pip install "numpy==1.13.1"
  - pip install "setuptools_scm==5.0.2"
  # Install pytest < 5.0.0 first as later versions may be included
  # in downstream dependencies
  - pip install "pytest<5.0.0"
  - pip install -e .

after_test:
  # Install pyinstaller < 4.0.0 first to ensure we keep Python 2 support
  - pip install "pyinstaller<4.0.0"
  - cd distribution\windows
  - pyinstaller CellProfiler.spec CellProfiler.py

artifacts:
  - path: distribution\windows\dist\*
